node_modules/
db/
backend/.env
backend/.yarn/**
backend/.eslintrc.cjs
ff-mern-firebase*
ff-types/.rollup.cache/**
ff-types/.npmignore
.firebase/**
.github**

!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/cache/*