.pick-container {
  max-height: 85vh;
  font-size: 0.95rem;
  overflow-y: scroll;
  padding: 0.5em;
  border: 1px solid #ccc;
}

.pick-grid {
  display: grid;
  row-gap: 1em;
  padding: 0.5em 1.5em;
}

.pick-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15em;
  height: 10em;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
  cursor: pointer;
}

.pick-num {
  font-size: 1.1rem;
  font-weight: bold;
}

.box-header {
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: fit-content;
}
